$main_font: 'Raleway', sans-serif;

a{text-decoration: none; color: black}; li{list-style: none;}; ul{margin: 0; padding: 0}

.wrapper {
    width: 1600px;
    margin: 0 auto;
    margin-top: 60px;
}
header {
    width: 100%;
    display: flex;
    .logo_container {
        width: 15%;
        display: flex;
        .logo_img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .logo_txt {
            margin-top: 7px;
            margin-left: 12px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-family: $main_font;
            text-transform: uppercase;
            font-size: 15px;
            color: white;
            p {
                width: 100%;
                margin: 0;
            }
        }
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        li {
            margin-left: 48px;
            font-family: $main_font;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            color: white;
            &:nth-child(1) {
                margin-left: 0;
            }
            &:nth-child(2) {
                color: black;
            }
        }
    }
    .signUp_button {
        width: 120px;
        height: 30px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            font-family: $main_font;
            color: white;
            text-align: center;
        }
    }
}
.main_page {
    width: 100%;
    height: 750px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../images/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
}